global
  log stdout format raw daemon info

defaults
  log  global
  mode http

  option httplog
  option dontlognull

  timeout connect 5s
  timeout client  30s
  timeout server  30s

  default-server init-addr last,libc,none check resolvers local

resolvers local
  parse-resolv-conf

frontend http_spoa
  mode http
  bind :8080

  http-request reject unless { http_auth_bearer -m found }
  http-request set-var(txn.jwt) http_auth_bearer

  filter spoe engine jwt config /config/spoe.cfg
  http-request send-spoe-group jwt verify

  acl jwt_valid var(txn.jwt.jwt_valid) -m bool 1

  http-request deny unless jwt_valid

  default_backend echo

frontend http_builtin
  mode http
  bind :8081
  http-request reject unless { http_auth_bearer -m found }
  http-request set-var(txn.jwt) http_auth_bearer
  http-request set-var(txn.jwt_alg) var(txn.jwt),jwt_header_query('$.alg')
  http-request deny unless { var(txn.jwt_alg) -m str "RS256" }
  http-request set-var(txn.jwt_iss) var(txn.jwt),jwt_payload_query('$.iss')
  http-request deny unless { var(txn.jwt_iss) -m str "${JWT_ISS}" }
  # extract and check audience
  http-request set-var(txn.jwt_aud) var(txn.jwt),jwt_payload_query('$.aud')
  http-request deny unless { var(txn.jwt_aud) -m reg \[\""${JWT_AUD}"\"\] }
  # extract and check expiry
  http-request set-var(txn.jwt_exp) var(txn.jwt),jwt_payload_query('$.exp','int')
  http-request set-var(txn.now) date
  http-request deny if { var(txn.jwt_exp),sub(txn.now) lt 0 }
  # verify JWT signature
  http-request deny unless { var(txn.jwt),jwt_verify(txn.jwt_alg,"/keys/key.pem") 1 }
  # deny unless email claim is found
  http-request deny unless { var(txn.jwt),jwt_payload_query('$.email') -m found }
	http-request set-var(txn.jwt.claims.email) var(txn.jwt),jwt_payload_query('$.email')

	default_backend echo

backend echo
  mode http

  http-request return status 200 content-type text/plain lf-string "Email: %[var(txn.jwt.claims.email)]\n"

backend be_spoe
  mode tcp
  timeout connect 5s
  timeout server  5m
  server spoa spoa:3000 check
